<div>
    <h1>Monolith Dashboard</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa eius velit explicabo dicta nisi repellendus eligendi illo quos hic perferendis pariatur nemo, alias voluptas esse quaerat earum aut veritatis.</p>
</div>